<footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img class="header-logo" src="/images/logo.png">
            </div>
            <div class="copyright">
                <h4 class="copyright-text">© Copyright - Raton Blanco - 2025</h4>
            </div>
        </div>

    </footer>