<header class="header">
        <div class="header-bar">
            <h3 class="bar-text">10% de descuento, oferta lanzamiento!!!</h3>
        </div>
        <div class="header-elements">
            <div class="logo-container">
                <a href="/"><img class="header-logo" src="/images/logo.png"></a>
                <h1 class="main-title">Raton blanco</h1>
            </div>
            <div class="icons-container">
                <form class="search-bar">
                    <input class="search-input" type="text" placeholder="search" />
                </form>
                <div class="icons">
                    <a href="register"><img class="icon" src="/images/icons8-usuario-masculino-en-círculo-96.png"></a>
                    <a href="cart"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                </div>
            </div>
        </div>
    </header>