<header class="header">
    <div class="header-bar">
        <h3 class="bar-text">
            <%= black %>
        </h3>
    </div>
    <div class="header-elements">
        <div class="logo-container">
            <a href="/"><img class="header-logo" src="/images/logo.png"></a>
            <h1 class="main-title">Raton blanco</h1>
        </div>
        <div class="icons-container">
            <form class="search-bar">
                <input class="search-input" type="text" placeholder="search" />
            </form>
            <div class="icons">

                <% if (typeof userLogged !=='undefined' && userLogged) { %>
                    <a href="/profile">
                        <img class="icon" src="/images/users/<%= userLogged.img %>"
                            onerror="this.onerror=null; this.src='/images/users/user.png';">
                    </a>
                    <div class="cart-icon">

                        <a href="/cart"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                        <% if (cartCount> 0) { %>
                            <span class="cart-counter">
                                <%= cartCount> 99 ? '99+' : cartCount %>
                                 </span>
                            <% } %>
                    </div>

                    <% } else { %>
                        <a href="/login">
                            <img class="icon" src="/images/icons8-usuario-masculino-en-círculo-96.png">
                        </a>

                        <a href="/register"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                        <% } %>

            </div>
        </div>
    </div>
</header>