<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icons8-ratón-animal-96 (1).png" type="image/x-icon">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css">
    <link rel="stylesheet" href="/stylesheets/<%= style %>">
    <link rel="stylesheet" href="/stylesheets/footerStyle.css">
</head>