<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icons8-ratón-animal-96 (1).png" type="image/x-icon">
    <title>Raton Blanco</title>
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/cartStyle.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
</head>

<body>

    <!-- HEADER -->
    <header class="header">
        <div class="header-bar">
            <h3 class="bar-text">10% de descuento, oferta lanzamiento!!!</h3>
        </div>
        <div class="header-elements">
            <div class="logo-container">
                <a href="index.html"><img class="header-logo" src="/images/logo.png"></a>
                <h1 class="main-title">Raton blanco</h1>
            </div>
            <div class="icons-container">
                <form class="search-bar">
                    <input class="search-input" type="text" placeholder="search" />
                </form>
                <div class="icons">
                    <a href="register.html"><img class="icon"
                            src="/images/icons8-usuario-masculino-en-círculo-96.png"></a>
                    <a href="cart"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                </div>
            </div>
        </div>
    </header>

    <!-- HEROE -->
    <main class="main">
        <div class="main-container">
            <h1>Mi carrito</h1>

            <div class="secondary-container">

                <div class="producto">
                    <div class="main-pic">
                        <img src="/images/caracola.jpeg" alt="">
                    </div>
                    <div class="name-container">
                        <h3 class="product-name">Nombre del producto</h1>
                            <h3 class="price">$46.500</h3>
                    </div>
                </div>

                <div class="quantity-container">
                    <div class="quantity">
                        <div class="quantity-number">
                        <h2>Cantidad:  </h2>
                        <h2>1</h2>
                        </div>
                        <div class="add">
                            <h2> - </h2>
                            <h2> + </h2>
                        </div>
                    </div>
                    <div class="eliminar">
                        <h4>Eliminar</h4>
                    </div>
                </div>
            </div>
            <label class="envoltorio" for="envoltorio">

                <input type="checkbox" id="envoltorio" value="envoltorio">¿Envoltorio especial para regalo?</input>
            </label>

            <div class="buttons">
                <button type="submit">Finalizar compra</button>
                <button>Volver</button>
            </div>
        </div>


    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img class="header-logo" src="/images/logo.png">
            </div>
            <div class="copyright">
                <h4 class="copyright-text">© Copyright - Raton Blanco - 2025</h4>
            </div>
        </div>

    </footer>

</body>

</html>