<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icons8-ratón-animal-96 (1).png" type="image/x-icon">
    <title>Raton Blanco</title>
    
    <link rel="stylesheet" href="/css/detailStyle.css">
    
</head>

<body>

    <!-- HEADER -->
    <header class="header">
        <div class="header-bar">
            <h3 class="bar-text">10% de descuento, oferta lanzamiento!!!</h3>
        </div>
        <div class="header-elements">
            <div class="logo-container">
                <a href="index.html"><img class="header-logo" src="/images/logo.png"></a>
                <h1 class="main-title">Raton blanco</h1>
            </div>
            <div class="icons-container">
                <form class="search-bar">
                    <input class="search-input" type="text" placeholder="search" />
                </form>
                <div class="icons">
                    <a href="register.html"><img class="icon"
                            src="/images/icons8-usuario-masculino-en-círculo-96.png"></a>
                    <a href="cart.html"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                </div>
            </div>
        </div>
    </header>

    <!-- HEROE -->
    <main class="main">
        <div class="presentation-container">
            <div class="main-pic">
                <img src="/images/caracola.jpeg" alt="">
            </div>
            <div class="presentation">
                <h1 class="title">Carola la caracola (nombre del producto)</h1>
                <h4 class="description">En este espacio va la descripción del producto. Materiales de los cuales está
                    comfeccionado, tamaño y medidas. Explicación del proceso de confección, entre otros datos que el
                    comprador pueda querer saber sobre lo que va a estar comprando.
                </h4>
                <button class="cart-button">Agregar al carrito</button>
                <a href="products.html"><h6>< Back </h6></a>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img class="header-logo" src="/images/logo.png">
            </div>
            <div class="copyright">
                <h4 class="copyright-text">© Copyright - Raton Blanco - 2025</h4>
            </div>
        </div>

    </footer>

</body>

</html>