<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icons8-ratón-animal-96 (1).png" type="image/x-icon">
    <title class="head-title">Raton blanco</title>
    
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>

    <!-- HEADER -->
    <header class="header">
        <div class="header-bar">
            <h3 class="bar-text">10% de descuento, oferta lanzamiento!!!</h3>
        </div>
        <div class="header-elements">
            <div class="logo-container">
                <a href="index.html"><img class="header-logo" src="/images/logo.png"></a>
                <h1 class="main-title">Raton blanco</h1>
            </div>
            <div class="icons-container">
                <form class="search-bar">
                    <input class="search-input" type="text" placeholder="search" />
                </form>
                <div class="icons">
                    <a href="register.html"><img class="icon" src="/images/icons8-usuario-masculino-en-círculo-96.png"></a>
                    <a href="cart.html"><img class="icon" src="/images/icons8-carrito-de-compras-96.png"></a>
                </div>
            </div>
        </div>
    </header>

    <!-- HEROE -->
    <main class="main">
        <div class="presentation-container">
            <div class="main-pic">
                <video autoplay loop muted playsinline>
                    <source src="/images/raton_blanco/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="presentation">
                <h1 class="title">Bienvenidos a Raton blanco</h1>
                <h4 class="description">En este atelier la artista Marian Silva confecciona muñecas de tela de diseño y
                    alta calidad.Los productos ofrecidos son piezas únicas, de diseño de autor. Para aquellas personas
                    con un alma sensible que buscan reconectar con su infancia o tal vez regalar algo único, que sale de
                    lo común.
                </h4>
            </div>
        </div>
        <div class="categories-container">

            <div class="category">

                <a href="products.html"><img class="img-category" src="/images/Munieca.png" /></a>

            </div>

            <div class="category">

                <a href="products.html"></a><img class="img-category" src="/images/Oveja.png" /></a>
            </div>

            <div class="category">

                <a href="products.html"></a><img class="img-category" src="/images/Animal.png" /></a>

            </div>
        </div>
        <div class="offer-container">
            <div class="offer-title">
                <h2 class="title">Ofertas y promociones</h2>
            </div>
            <div class="offer-cards">
                <div class="card">
                    <img class="card-image" src="/images/Munieca.png" />
                    <h2 class="title">Titulo</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                </div>
                <div class="card">
                    <img class="card-image" src="/images/Munieca.png" />
                    <h2 class="title">Titulo</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                </div>
                <div class="card">
                    <img class="card-image" src="/images/Munieca.png" />
                    <h2 class="title">Titulo</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae id sint,
                        mollitia accusamus quia iusto impedit ex voluptates nemo.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img class="header-logo" src="/images/logo.png">
            </div>
            <div class="copyright">
                <h4 class="copyright-text">© Copyright - Raton Blanco - 2025</h4>
            </div>
        </div>

    </footer>

</body>

</html>