.main {
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.presentation-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding:20px;
    margin: 10px;
    color: var(--raton);
}

.admin-buttons {
    display: flex;
    
}
.admin-buttons button {
    border: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width:200px;
    height: 55px;
    border-radius: 8px;
    background-color: var(--raton);
    color: #ffffff;
    font-family: 'Railey';
    font-size: 24px;
    font-weight: bold;
    font-weight: lighter;
    transition: all 0.5s ease;
}

.admin-buttons button:hover {
    background-color: var(--gray);
    color: var(--raton)
}

.presentation a:active {
    text-decoration: none;
    color: var(--raton)
}

footer {
    position:absolute;
    bottom: 0;
}

@media (max-width: 768px) {
    
    .head-title{
        display: none;
    }
    
    * {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-bar {
        width: 110vw;
    }
    .search-input{
     width: 350px;   
    }

    .icons-container {
        display: flex;
        flex-direction: column;
    }
    .icons{
        margin: 20px;
        width: 50vw;
        display: flex;
        flex-direction: row;
        
    }

    .title {
        font-size: 40px;
        text-align: center;
    }

   
    

    footer {
        margin-top: 50px;
        position: relative;
        
    }
}