
.main {
    width: 100vw;
}

.presentation-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.main-pic {

    height: 400px;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.main-pic video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.title {
    font-family: 'Amatic';
    font-size: 50px;
    color: var(--raton);
    margin: 20px;
    font-weight: lighter;
}




.grid-container {
    width: 100vw;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    background-color: var(--gray);

}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    padding: 15px;
    border: 2px solid var(--raton);
    border-radius: 12px;
    transition: all .5s ease;
}

.card-description {
    font-family: 'Amatic';
    font-size: 20px;
    font-weight: 500;
    color: var(--ratonClaro)
}

.card:hover {

    box-shadow: 2px 2px 10px var(--ratonClaro);
}

.card .title {
    font-family: 'Star';
    font-size: 28px;
    color: var(--raton)
}


@media (max-width: 768px) {

    /* * {
        border: 1px solid red;
    } */

    .head-title {
        display: none;
    }

    header,
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    header *, footer * {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        justify-content: inherit;
        
    }

    .header-bar {
        width: 110vw;
    }

    

    .icons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .icons {
        margin: 20px;
        width: 50vw;
        display: flex;
        flex-direction: row;

    }

    .title {
        font-size: 40px;
        text-align: center;
     }

    footer {
        padding-top: 50px;

    }
}