:root {
    --raton: rgb(19, 58, 131);
    --ratonClaro: rgb(25, 80, 180);
    --gray: rgb(245, 245, 245);
}

@font-face {
    font-family: 'Amsterdam';
    src: url('/images/fonts/Amsterdam\ Four_ttf\ 400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Railey';
    src: url('/public/Railey-PersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--ratonClaro)
}

#root {
  margin: 10px;
  padding: 1rem;
  overflow: hidden;
}


.container {
  width: 95vw;
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;

  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item5";
  
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item4,
.item5 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-family:'Railey';
  color: var(--raton);
  width: 99%;
  margin: 8px;
  padding: 10px;
  padding-top: 15px;
  border-radius: 10px;
  /* border-bottom: 1px solid var(--ratonClaro); */
  box-shadow: 2px 5px 10px var(--ratonClaro);

}

.subtitle {
  color: var(--ratonClaro);
  border-bottom: 1px solid var(--raton); 
  padding-bottom: 5px;
}

.first-line {
  display: flex;
  font-family: 'Railey', Times, serif;

}

.quantity-container {
  box-sizing: border-box;
  /* border: 1px solid var(--raton); */
  box-shadow: 2px 5px 10px var(--ratonClaro);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 12px;
  padding: 20px;
  margin: 0;
  font-family: 'Railey', Times, serif;
  /* border: 1px solid red; */
}

.quantity {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.last-product {
  display: flex;
  flex-direction: column;
  width: 25vw;
}



table {
  /* border: 1px solid var(--raton); */
  box-shadow: 2px 5px 10px var(--ratonClaro);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  font-family: 'Railey', Times, serif;
  box-sizing: border-box;

}


td {
  padding: 10px;
  border-radius: 10px;

}

th {
  padding: 15px;
  border-collapse: collapse;
  border-bottom: 1px solid var(--ratonClaro);
  text-align: start;
  font-size: 18px;
}

.td-button {
  text-align: center;
}

.delete-button {
  background-color: var(--ratonClaro);
  color: #ccc;
  font-family: 'Railey';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  width: 60px;
  height: 30px;
  padding: 10px;
  border: none;
}

.delete-button:hover {
  background-color: var(--raton);
  border: none
}