<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

            <!-- HEROE -->
            <main class="main">
                <h1 class="title">
                    <%= title %>
                </h1>
                <div class="admin-buttons">

                    <form method="GET" action="/">
                        <button type="submit">Home</button>
                    </form>
                    <form method="GET" action="/create">
                        <button type="submit">Cargar un producto</button>
                    </form>
                    <form method="GET" action="/list">
                        <button type="submit">Listar productos</button>
                    </form>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>