<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %>

<body>

    <!-- HEADER -->
    <%- include('../partials/header')  %>

    <!-- HEROE -->
    <main class="main">
        <div class="presentation-container">
            <div class="main-pic">
                <img src="/images/caracola.jpeg" alt="">
            </div>
            <div class="presentation">
                <h1 class="title">Carola la caracola (nombre del producto)</h1>
                <h4 class="description">En este espacio va la descripción del producto. Materiales de los cuales está
                    comfeccionado, tamaño y medidas. Explicación del proceso de confección, entre otros datos que el
                    comprador pueda querer saber sobre lo que va a estar comprando.
                </h4>
                <button class="cart-button">Agregar al carrito</button>
                <a href="products.html"><h6>< Back </h6></a>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer')  %>

</body>

</html>